* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  font-family: Roboto, sans-serif;
}

.hero-header,
.info,
.testimonial,
.call-to-action,
.footer {
  padding: 0px 210px;
  display: flex;
  flex-direction: column;
}

.hero-header,
.footer {
  background-color: #1F2937;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #F9FAF8;
  padding: 24px 0px;
}

.hero {
  display: flex;
  align-items: center;
  gap: 24px;
  padding: 54px 0px;
}

.hero-main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 6px;
}

.hero-img {
  flex: 1;
  width: 480px;
}

.logo {
  font-size: 24px;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  gap: 24px;
}

a {
  text-decoration: none;
}

.hero-main>p {
  padding: 0px 50px 10px 0px;
}

h1, p {
  margin: 0;
  padding: 0;
}

a, p {
  font-size: 18px;
  color: #b2b3b6;
}

h1 {
  font-size: 48px;
  font-weight: 900;
  color: #F9FAF8;
}

button {
  background-color: #3882F6;
  color: #F9FAF8;
  font-size: 18px;
  font-weight: 700;
  padding: 8px 32px;
  border: none;
  outline: none;
  border-radius: 8px;
  cursor: pointer;
}

.info {
  align-items: center;
  gap: 48px;
  padding: 54px 0px;
}

h2 {
  margin: 0;
  padding: 0;
  font-size: 36px;
}

.tiles {
  display: flex;
  gap: 24px;
  justify-content: center;
}

.tile {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  flex: 0 0 200px;
}

.tile-img {
  border: 4px solid #3882F6;
  border-radius: 10px;
}

.tile>p {
  text-align: center;
}

.testimonial {
  justify-content: center;
  align-items: center;
  background-color: #E5E7EB;
  padding: 120px 0px;
}

.quote {
  width: 750px;
  font-size: 36px;
  color: #1F2937;
  font-weight: 300;
  font-style: italic;
}

.attribution {
  width: 750px;
  font-size: 24px;
  font-weight: 700;
  display: flex;
  justify-content: flex-end;
}

.call-to-action {
  justify-content: center;
  padding-top: 100px;
  padding-bottom: 100px;
}

.cta-container {
  background-color: #3882F6;
  color: #F9FAF8;
  border-radius: 12px;
  padding: 48px;
  display: flex;
  justify-content: space-around;
}

h3 {
  margin: 0;
  padding: 0;
  font-size: 24px;
}

.cta-container>button {
  border: 2px solid #F9FAF8;
}

.footer {
  color: #b2b3b6;
  font-size: 18px;
  justify-content: center;
  align-items: center;
  padding: 40px;
}